<h1> Enter your text in the below box<h1>
<h3> You will receive your words mixed up </h3>


<form method="POST" action="random">

  <textarea name="entered_text"></textarea><br>
  <input type="submit">

</form>

<div class="return">
<%= @returned_text %>
</div>